version: "3.5"

services:
  postgres:
    #platform: linux/amd64
    container_name: postgres_container
    image: postgres
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: 123456!@
      PGDATA: /data/postgres
    volumes:
      - ./docker/postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - postgres
    restart: unless-stopped

networks:
  postgres:
    driver: bridge

volumes:
  postgres:
